###
#

[zabbix]
#host = 'zabbix_host_name_or_ip'
#name = 'SDM230'

[thingsboard]
#host = 'thingsboard_host_name_or_ip'
#telemetry = 'v1/devices/me/telemetry'
#attributes = 'v1/devices/me/attributes'
#accesstoken = 'token'

[mqtt]

[kafka]
